<div class="container">
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Wikipedia search</a>
    <form class="form-inline pull-xs-right">
      <input type="text" class="form-control" id="search" (input)="term$.next($event.target.value)" placeholder="Start typing to search">
    </form>
  </nav>

  <div class="row">
    <div class="col-lg-12">
      <div class="bd-callout bd-callout-success">
        <h4>Results</h4>
        <ul>
          <li *ngFor="let item of items">{{item}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>